.list{
    border: 1px rgb(233, 223, 223) solid;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width:70%;
}
.header{
    width: auto;
    border:1px rgb(209, 209, 197) solid;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 1%;
    padding: 3%;
    font-family:Arial;
	font-size:3vw;
	font-weight:bold;
    box-shadow: 0 1px 2px 0 rgba(231, 229, 229, 0.1);
    transition: 0.1s;
    border-radius: 5px; /* 5px rounded corners */
}
.row{
    width: auto;
    border:1px rgb(199, 199, 155) solid;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 1%;
    padding: 3%;
    font-family:Arial;
	font-size:3vw;
	font-weight:bold;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.1);
    transition: 0.5s;
    border-radius: 5px; /* 5px rounded corners */
}

.row:hover{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    cursor: pointer;
}

.myButton {
	box-shadow: 0px 10px 14px -7px #276873;
	background:linear-gradient(to bottom, #599bb3 5%, #408c99 100%);
	background-color:#599bb3;
	border-radius:8px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:30px;
	font-weight:bold;
	padding:3px 3px;
	text-decoration:none;
	text-shadow:0px 1px 0px #3d768a;
}
.myButton:hover {
	background:linear-gradient(to bottom, #408c99 5%, #599bb3 100%);
	background-color:#408c99;
}
.myButton:active {
	position:relative;
	top:1px;
}

